/*Common Style*/
/*--------------------------------------------------------------
-----------------------  Common Style --------------------------
----------------------------------------------------------------
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.flex-block {
    display: flex;
}

.workspace {
    max-width: 1170px;
    margin: auto;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

/*
--------------------------------------------------------------
STYLE fo HEADER
--------------------------------------------------------------
*/
.header {
    margin-top: 15px;
}

.header .workspace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.header-left {
    width: 15%
}

.header-right {
    width: 85%;
}

.header-right-top {
    margin-bottom: 13px;
}

.header-nav ul {
    text-align: right;
    margin: 0;
}

.header-nav > ul > li {
    display: inline-block;
    margin-left: 34px;
}

.header-nav a {
    text-decoration: none;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.header-right-bottom {
    background: #f6f6f6;
}

.header-right-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.head-bottom-menu li {
    display: inline-block;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: 5px;
    background: #05aecc;
}

ul.head-bottom-menu li:nth-child(2n) {
    background-color: #f0626e;
}

.ico-1 img,
.ico-2 img {
    margin-left: 10px;
    margin-bottom: -5px;
}

.head-bottom-menu a {
    display: block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 32px;
    color: #fff;
}

/*
--------------------------------------------------------------
STYLE fo NAV after HEADER
--------------------------------------------------------------
*/

.nav-after-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-after-header .workspace > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #05aecc;
    /*    -webkit-padding-start: 0;*/
    padding: 0 70px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.nav-after-header .workspace > ul > li {
    display: inline-flex;
}

.nav-after-header .workspace li > a {
    color: #fff;
    padding: 23px 25px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.nav-after-header .workspace > ul > li > a:hover {
    background: #fff;
    color: #ef5966;
}

/*
--------------------------------------------------------------
STYLE fo Drop-Down List
--------------------------------------------------------------
*/

.nav-after-header .workspace li {
    position: relative;
}

.nav-after-header .workspace li > ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(253, 252, 249, 0.9);
    padding: 0 18px;
    box-shadow: 0 -5px 10px rgb(223, 223, 223);
    transition: opacity 1s, visibility 1s linear;
}

.nav-after-header .workspace li:last-child > ul {
    left: -145px;
}

.nav-after-header .workspace li:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 50;
}

/*
--------------------------------------------------------------
Style last element item menu block2
--------------------------------------------------------------
*/

.nav-after-header .workspace > ul > li:last-child:hover ul {
    position: absolute;
    /*top: 70px;*/
    left: -214px;
}

.nav-after-header .workspace > ul > li > ul > li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 262px;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 15px 0;
}

.nav-after-header .workspace > ul > li > ul > li:last-child {
    border: none;
}

.drop-down-image {
    width: 33.3333%;
    align-self: center;
}

.drop-down-item-content {
    width: 66.6666%;
}

.nav-after-header .workspace > ul > li > ul > li h4,
.drop-down-item-content h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(239, 89, 102);
    margin: 0;
}

.drop-down-item-content p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 2px 0 6px 0;
    line-height: 1.0;
}

.drop-down-item-content a {
    color: #fff;
    background: #05aecc;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 5px 25px;
}

/*
--------------------------------------------------------------
STYLE FOR PHOTO-TOP BLOCK
--------------------------------------------------------------
*/
.photo-top {
    margin-bottom: 103px;
}

.photo-top-left {
    margin-right: 5px;
}

.photo-top-left > div {
    position: relative;
}

.photo-top-left > div > div {
    position: absolute;
    left: 0;
    bottom: 55px;
    background-color: rgba(54, 42, 79, 0.8);
    /*opacity: 0.8;*/
    padding: 5px 23px 0;
}

.photo-top-left > div > div + div {
    position: absolute;
    left: 0;
    bottom: 13px;
    background: rgb(239, 89, 102);
    opacity: 0.9;
    text-align: center;
    padding: 9px 20px 8px 22px;
}

.photo-top-left .order-block {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*text-align: right;*/
}

/*
.order-block div {
    display: flex;
}
*/

.order-block > div:first-child {
    padding: 12px 46px;
}

.order-block > div:nth-child(2) {
    background: #00a1be;
    padding: 14px 14px 15px 14px;
    position: relative;
}

/*Popup block for mini-box block*/
.order-block > div:nth-child(2)::before {
    content: 'add to box';
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    position: absolute;
    background: rgb(255, 255, 255);
    top: -32px;
    left: -28px;
    padding: 5px 16px;
    border: 1px solid #00a1be;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
}

.order-block > div:nth-child(2)::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 17px;
    width: 0;
    height: 0;
    border-top: 12px solid rgb(255, 255, 255);
    border-left: 12px solid #00a1be;
    border-right: 12px solid #00a1be;
    visibility: hidden;
}

.order-block > div:nth-child(2):hover::before,
.order-block > div:nth-child(2):hover::after {
    visibility: visible;
    cursor: pointer;
}

.order-block > div:nth-child(3) {
    position: relative;
    background: #f0626e;
    padding: 18px 14px 12px 14px;
}

/*Popup block for block Card*/
.order-block > div:nth-child(3)::before {
    content: 'add to card';
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    position: absolute;
    background: rgb(255, 255, 255);
    top: -32px;
    left: -28px;
    padding: 5px 16px;
    border: 1px solid #f0626e;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
}

.order-block > div:nth-child(3)::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 17px;
    width: 0;
    height: 0;
    border-top: 12px solid rgb(255, 255, 255);
    border-left: 12px solid #f0626e;
    border-right: 12px solid #f0626e;
    visibility: hidden;
}

.order-block > div:nth-child(3):hover::before,
.order-block > div:nth-child(3):hover::after {
    visibility: visible;
    cursor: pointer;
}

/*Stop style for Popup block for block Card*/

.order-block > div:last-child {
    background: #100e0e;
    padding: 15px 18px 16px 22px;
}

.order-block h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0;
}

.photo-top-left > div > div h2 {
    font-size: 58px;
    font-family: 'Aparajita', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(239, 89, 102);
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

.photo-top-left > div > div p {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-top: -13px;
}

.photo-top-left > div > div + div p {
    font-size: 20px;
    font-family: 'Aparajita', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin: 0;
}

/*
--------------------------------------------------------------
STYLE Search block
--------------------------------------------------------------
*/

.search-block {
    background: #f0626e;
    padding: 50px 50px 50px 55px;
    margin-bottom: 4px;
}

.search-block label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-block input {
    flex-basis: 87%;
    height: 69px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 3px 3px 5px #bc4a54;
}

/*
--------------------------------------------------------------
Style Photo-top-right block
--------------------------------------------------------------
*/

.photo-top-right > div {
    position: relative;
}

.photo-top-right > div:first-child > div {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 267px;
    height: 80px;
    padding: 8px 8px 8px 25px;
    background-color: rgba(54, 42, 79, 0.8);
}

.photo-top-right > div:last-child > div {
    position: absolute;
    bottom: 158px;
    right: -154px;
    padding: 12px 0 0 0;
    background: rgba(54, 42, 79, 0.9);
    transform: rotate(-90deg);
}

.photo-top-right h2 {
    font-size: 35px;
    font-family: 'Aparajita', sans-serif;
    font-weight: 700;
    color: rgb(239, 89, 102);
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

.jewelry-heading h2 {
    font-size: 64px;
    font-family: 'Aparajita', sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0 136px 0 25px;
}

.photo-top-right > div > div:first-of-type p {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-top: -10px;
}

/*Label for block Jewelry*/
.jewelry-heading > div {
    position: absolute;
    background: #ee6470;
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    right: 20px;
    top: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jewelry-heading > div > div:first-child {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    padding-top: 10px;
}

.triangle {
    position: absolute;
    transform: rotate(-45deg);
    width: 0;
    height: 0;
    left: 4px;
    bottom: -11px;
    border-top: 10px solid transparent;
    border-left: 9px solid #c6535d;
    border-bottom: 8px solid transparent;
}

.jewelry-heading > div > div i {
    color: #f06470;
}

/*
--------------------------------------------------------------
Blackout for children's store block
--------------------------------------------------------------
*/

.photo-top-right > div:nth-child(2)::after {
    content: '';
    background: rgba(51, 45, 46, 0.87);
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
}

.photo-top-right > div:nth-child(2):hover::after {
    visibility: visible;
    cursor: pointer;
    margin-bottom: 4px;
}

/*
--------------------------------------------------------------
Baby Shop hover in order block
--------------------------------------------------------------
*/

.baby-price-hover {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 35px;
    visibility: hidden;
    z-index: 20;
}

.photo-top-right div:hover .baby-price-hover {
    visibility: visible;
    cursor: pointer;
}

.baby-price-hover > div:first-child {
    background: #05aecc;
    padding: 20px 7px 20px 12px;
}

.baby-price-hover > div:first-child + div {
    background: #00a1be;
    padding: 15px;
}

.baby-price-hover > div:first-child + div + div {
    background: #f0626e;
    padding: 16px 15px 15px;
}

.baby-price-hover > div:last-child {
    background: #323232;
    padding: 15px;
}

.baby-price-hover h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

.order-block span:last-child,
.baby-price-hover span {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

/*
--------------------------------------------------------------
Style for Slider First
--------------------------------------------------------------
*/

.new-product {
    margin-bottom: 103px;

}

.new-product .workspace .newProd-top h2 {
    position: absolute;
    top: -72px;
    left: 28px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #00a1be;
    border-bottom: 1px solid #f0626e;
    padding: 0 10px 13px 0;
    z-index: 10;
}

.swiper-container {
    padding-top: 25px;
    border-top: 1px solid #b9b9b9;
    position: relative;
}

.slider-button {
    position: absolute;
    top: -81px;
    right: 80px;
}

.slider-button > div {
    background: #333333;
}

.slider-button > div:hover {
    background: #05aecc;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 41px 35px;
    margin: 0;
}

.swiper-button-next {
    margin-right: -19px;
}

.swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: none;
}

.new-product .swiper-wrapper > div {
    position: relative;
    margin-right: 30px;
    width: auto;
}

/*Hover style shadow*/
.new-product .swiper-slide-next::after {
    content: '';
    background: rgba(51, 45, 46, 0.87);
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.new-product .swiper-slide-next:hover::after {
    visibility: visible;
}

/*
--------------------------------------------------------------
Style for slider button block
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Style for baby shop in gallery  slider block
--------------------------------------------------------------
*/

.baby-shop-hover-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 70px;
    visibility: hidden;
    z-index: 20;
}

.swiper-wrapper div:hover .baby-shop-hover-2 {
    visibility: visible;
    cursor: pointer;
}

.baby-shop-hover-2 > div:first-child {
    background: #05aecc;
    padding: 20px 7px 20px 12px;
}

.baby-shop-hover-2 > div:first-child + div {
    background: #00a1be;
    padding: 15px;
}

.baby-shop-hover-2 > div:first-child + div + div {
    background: #f0626e;
    padding: 16px 15px 15px;
}

.baby-shop-hover-2 > div:last-child {
    background: #323232;
    padding: 15px;
}

.baby-shop-hover-2 h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

.baby-shop-hover-2 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

/*
--------------------------------------------------------------
Style for Featured Product block
--------------------------------------------------------------
*/
.featured {
    margin-bottom: 75px;

}

.featured .featureProd h2 {
    position: absolute;
    top: -72px;
    left: 28px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #00a1be;
    border-bottom: 1px solid #f0626e;
    padding: 0 10px 13px 0;
    z-index: 10;
}

.featured .swiper-container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid #b9b9b9;
    position: relative;
}

.featured .slider-button > div:hover {
    background: #f0626e;
}

.featured .swiper-slide {
    border: 1px solid #dddddd;
}

.swiper-slide {
    width: auto;
}

.featured .swiper-slide-active figure::before {
    content: '20% off';
    background: #f0626e;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 12px;
    left: 0;
    padding: 12px 9px;
}

.featured .swiper-slide-next + div figure::after {
    content: 'New';
    background: #05aecc;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 12px;
    left: 0;
    padding: 12px 25px;
}

.featured .swiper-slide-next + div p {
    color: #05aecc;
}

.featured .swiper-slide-next + div .feature-footer > div:last-child {
    background: #05aecc;
}

.featured .swiper-slide > div:first-of-type {
    padding: 8px 0 11px 11px;
}

.featured .swiper-container h4 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin: 0;
}

.featured .swiper-container p {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #f0626e;
    margin: 0;
}

/*Featured footer*/
.feature-footer {
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
}

.feature-footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 12px 18px;
    border-right: 1px solid #dddddd;
}

.feature-footer > div:last-child {
    width: 100%;
    background: #f0626e;
    border: none;
}

/*Price div*/
/*symbol dollar*/
.order-block > div span:first-child,
.baby-price-hover > div span:first-child,
.feature-footer > div span:first-child,
.baby-shop-hover-2 > div span:first-child {
    font-size: 16px;
    color: #fff;
}

.feature-footer > div:last-child span:last-child {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.feature-footer a {
    color: #fff;
}

/*Slider-2 Style*/
.slider2-button-block {
    display: flex;
    position: absolute;
    top: -80px;
    right: 0;
}

.slider2-button-block > div {
    background: #3c3c3c;
    padding: 23px 14px;
}

.slider2-button-block > div:hover {
    background: #f0626e;
}

/*
--------------------------------------------------------------
Style for "Who We Are" block
--------------------------------------------------------------
*/

.who-we-are {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 29px;
}

.who-we-are::before {
    content: 'Who We Are';
    position: absolute;
    top: -47px;
    left: 28px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #00a1be;
    border-bottom: 1px solid #f0626e;
    padding: 0 10px 13px 0;
}

.who-we-are > p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    color: #464646;
    padding: 35px 27px 42px 30px;
    margin: 0;
}

.who-we-are > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.who-we-are > div > div {
    margin-right: 28px;
    padding: 26px 37px 25px 38px;
}

.who-we-are > div > div:last-child {
    margin-right: 0;
}

.who-we-are > div > div a {
    display: flex;
    justify-content: space-between;
}

.who-we-are a div {
    align-self: center;
    align-items: center;
}

.who-we-are > div > div:first-child {
    background: #434343;
}

.who-we-are > div > div:first-child + div {
    background: #05aecc;
}

.who-we-are > div > div:first-child + div + div {
    background: #f0626e;
}

.who-we-are div p {
    color: #fff;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin: 0 0 20px 35px;
    padding: 0;
}

div.we-are-bottom-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-are-bottom-block a {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    background: #05aecc;
    color: #fff;
    padding: 15px 240px;
}

/*
--------------------------------------------------------------
Style for Footer block
--------------------------------------------------------------
*/

footer h4 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

.footer-layout {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding-bottom: 60px;

}

.footer-layout li a {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #717171;
    line-height: 28px;
}

.footer-layout div form input {
    display: block;
    border: 1px solid #dedede;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.footer-layout div form input[type="email"] {
    width: 100%;
    height: 72px;
    text-align: center;

}

.footer-layout div form input[type="submit"] {
    color: #fff;
    padding: 18px 132px;
    background: #05aecc;
}

.footer-layout > div:last-child h4:last-of-type {
    margin-top: 27px;
    margin-bottom: 19px;
}

/*Style social icons block*/

.footer-layout div:last-child ul {
    display: flex;
    justify-content: flex-start;
}

.footer-layout div:last-child ul li {
    display: inline-block;
    margin-right: 11px;
}

.footer-layout div:last-child ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
}

.footer-layout div:last-child ul li:first-child a {
    background: #f8bc2e;
}

.footer-layout div:last-child ul li:first-child + li a {
    background: #39599f;
}

.footer-layout div:last-child ul li:first-child + li + li a {
    background: #45b0e3;
}

/*Style Social Site Icons*/

.demo-icon {
    color: #fff;
    font-size: 31px;
}

/*Style Flickr button*/
.footer-layout div:last-child ul li:first-child + li + li + li a {
    border: 1px solid #e1e1e1;
    width: 54px;
    height: 54px;
}

.footer-layout div:last-child ul li:first-child + li + li + li a div:first-child,
.footer-layout div:last-child ul li:first-child + li + li + li a div:first-child + div {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #0063dc;
    border-radius: 50%;
}

.footer-layout div:last-child ul li:first-child + li + li + li a div:first-child + div {
    background: #ff0084;
    margin-left: 2px;
}

/*Style Google button*/
.footer-layout div:last-child ul li:last-child a {
    background: #1872bf;
}

/*style for footer copyright block*/

.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 232px;
}

.footer-copyright div {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.footer-copyright div:first-child {
    margin-left: 20px;
}

.footer-copyright div:last-child {
    margin-right: 9px;
}

.footer-copyright div:last-child span {
    color: #f27781;
}

/*
----------------------------
ADAPTIVE CODE
----------------------------
*/

@media (max-width: 1024px) {
    .header-left {
        width: 20%;
    }

    .header-right {
        width: 78%;
    }

    .nav-after-header .workspace > ul {
        padding: 0 26px;
        margin: 0 19px;
    }

    .head-bottom-menu a {
        padding: 24px;
    }

    .logo {
        margin-left: 20px;
    }
    .search-block {
        padding: 40px 42px 40px 50px;
    }
    .featured img {
        width:100%;
    }
}

